.animal {
  width: auto;
  border: black solid 2px;
}

.animal1{
  
}

.animal2{
  
}

.animal3{
  
}

.animal img {
  width: 30%;
}
h1 {
  text-align: center;
}

.animal h2 {
  text-align: center;
} 

.animal p {
  text-align: left ;
}